.container{
    padding: 8px;
    .wip-message{
        font-family: monospace;
        font-size:400%;
        .customIconSize {
            padding: 20px;
            font-size: 50px;
            height: 50px ;
            width: 50px ;
        }
    }
}