<div class="container">
  <div>
  <h1 class="mat-display-4">Joseph Saravanan</h1>
  <h1 class="mat-display-4">Ganesan</h1>
  <p class="wip-message">
    website in progress
  </p>
  <p class="wip-message">
    <mat-icon class="customIconSize" fontSet="fab" fontIcon="fa-github"></mat-icon>
    <mat-icon class="customIconSize" fontSet="fab" fontIcon="fa-linkedin"></mat-icon>
    <mat-icon class="customIconSize" fontSet="fab" fontIcon="fa-medium"></mat-icon>
  </p>
  <p>
    <button mat-button color="primary">About Me</button>
  </p>
</div>