<div class="container">
  <mat-grid-list cols="1" rowHeight="5em">
    <mat-grid-tile rowspan="5" class="top-row-padding-top">
      <div>
        <h1 class="mat-display-3 centerised-font" style="color: white;">Joseph Saravanan<br>Ganesan</h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="top-row-padding-top"> 
      <div class="wip-message">
        <p class="wip-big-font">
          Website building in progress.
        </p><br>
        <p>
          Click "More about me" to view my Curriculum Vitae.
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="top-row-padding-top"> 
      <div>
        <p>
          <mat-icon class="customIconSize" fontSet="fab" fontIcon="fa-github"></mat-icon>
          <mat-icon class="customIconSize" fontSet="fab" fontIcon="fa-linkedin"></mat-icon>
          <mat-icon class="customIconSize" fontSet="fab" fontIcon="fa-medium"></mat-icon>
        </p>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="top-row-padding-top">
      <div>
        <p>
          <a mat-raised-button color="primary" class="largerButtonSize" href="assets/CV.pdf" target="_blank" rel="noopener noreferrer"> More about me</a>
        </p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>