<div class="container">
  <!-- <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="text-center">
      <img
        class="mb-4"
        src="https://mdbootstrap.com/img/logo/mdb-transparent-250px.png"
        style="width: 250px; height: 90px"
      />
      <h5 class="mb-3">Thank you for using our product. We're glad you're with us.</h5>
      <p class="mb-3">MDB Team</p>
      <p>
        PS. We'll be releasing "How to build your first project with MDB 5 Angular" tutorial soon.
      </p>
      <a
      class="btn btn-primary btn-lg"
      href=" https://mdbootstrap.com/newsletter/"
      target="_blank"
      role="button"
      >Join now</a
      >
    </div>
  </div> -->
  <div class="container-fluid mt-5">
    <div class="row">
      <div class="col-md-4 md-4">
       <div class="row">
         <div class="col-lg-4 md-4">
          <div class="card bf-dark text-white shadow-1-strong">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(55).jpg" alt="..." class="card-img">
            <div class="card-img-overlay">
              <h6>Joseph Saravanan Ganesan</h6>
              <p class="card-text">
                Software Developer
              </p>
            </div>
          </div>
         </div>
       </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            Header
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            About Me
          </div>
          <div class="col-md-12">
            //details
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Career Summary / Summary of Skills
          </div>
          <div class="col-md-12">
            //details
          </div>
        </div>
        <div class="row">
          <div class="col-sx-12">
            Relevant Work Experience / Employment
          </div>
          <div class="col-sx-12">
            <div class="row">
              <div class="col-md-12">
                Software Developer - Sympli
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Software Developer - OneSaas Integration Pty Ltd
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Software Developer - CountryNet Software Pty Ltd
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Junior Software Developer - Product Development Team (Fleet)
              </div>
              <div class="col-md-12">
                Minlog Australia Pty Ltd
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                IT System Engineer - System Integrations
              </div>
              <div class="col-md-12">
                Advanced Micro Devices (AMD)
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Education
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                Bachelor of Engineering (Computer Engineering, Honours Class 2, Division 2)
              </div>
              <div class="col-md-12">
                University of New South Wales, Faculty of Engineering
              </div>
              <div class="col-md-12">
                //details
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Techical Skills
          </div>
          <div class="col-md-12">
            //details
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>