<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
    <div class="container">
      <a class="navbar-brand" href="#!"><span style="color: #5e9693;">SoftWare</span><span style="color: #fff;">EngineEr</span></a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Offer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Reference</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Contact</a>
          </li>
        </ul>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!--Section: Design Block-->
  <section>
    <!-- Intro -->
    <!-- <div id="intro" class="bg-image vh-100" style="
          background-image: url('https://mdbootstrap.com/img/Photos/new-templates/psychologist/img1.jpg');
        ">
      <div class="mask" style="background-color: rgba(250, 182, 162, 0.15);"></div>
    </div> -->
    <!-- Intro -->
  </section>
  <!--Section: Design Block-->
</header>
<div class="container">
  <div class="container-fluid mt-5">

    <div class="row">
      <div class="col-md-12">

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 md-4">
       <div class="row">
         <div class="col-lg-4 md-4">
          <div class="card bf-dark text-white shadow-1-strong">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(55).jpg" alt="..." class="card-img">
            <div class="card-img-overlay">
              <h6>Joseph Saravanan Ganesan</h6>
              <p class="card-text">
                Software Developer
              </p>
            </div>
          </div>
         </div>
       </div>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h1>About Me</h1>
            
          </div>
          <div class="col-md-12">
            <div class="d-flex justify-content-md-center  fs-6 fw-light lh-lg ">
                * Continue to have the passion to learn with ten years of software development experience with Microsoft technology and Azure stack.
                * Built synchronisation services to E-accounting platforms and developed front to backend development for features and stories.
                * Worked in fast-paced agile startup culture and mentored by experienced Microsoft developers/consultants. * Compassionate
                to help my peers and build professional relationships. * Gutsy enough to jump in, investigate and solve issues. * Code quality
                first, before anything else. * Looking for next new challenge.
            </div>

          </div>
          <div class="col-md-12">
            //details
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Career Summary / Summary of Skills</h1>
            
          </div>
          <div class="col-md-12">
            //details
          </div>
        </div>
        <div class="row">
          <div class="col-sx-12">
            <h1>Relevant Work Experience / Employment</h1>
            
          </div>
          <div class="col-sx-12">
            <div class="row">
              <div class="col-md-12">
                Software Developer - Sympli
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Software Developer - OneSaas Integration Pty Ltd
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Software Developer - CountryNet Software Pty Ltd
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                Junior Software Developer - Product Development Team (Fleet)
              </div>
              <div class="col-md-12">
                Minlog Australia Pty Ltd
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                IT System Engineer - System Integrations
              </div>
              <div class="col-md-12">
                Advanced Micro Devices (AMD)
              </div>
              <div class="col-md-12">
                // details
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h1>Education</h1>
            
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                Bachelor of Engineering (Computer Engineering, Honours Class 2, Division 2)
              </div>
              <div class="col-md-12">
                University of New South Wales, Faculty of Engineering
              </div>
              <div class="col-md-12">
                //details
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            Techical Skills
          </div>
          <div class="col-md-12">
            //details
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>