$primary-color:#455363;
$background-color: #1f2935;
$text-color:#fff;
// $grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl:
// 1400px );

body {
    color: $primary-color;
}